# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/internal/asm/ @mathetake
/internal/engine/compiler/ @mathetake

* @codefromthecrypt @mathetake
