name: Test
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:  # Update this prior to requiring a higher minor version in go.mod
  GO_VERSION: "1.17"  # Latest patch

jobs:
  check:
    name: Pre-commit check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install wast2json
        run: |  # Needed for build.spectest. wabt includes wast2json
          wabt_version=1.0.24
          wabt_url=https://github.com/WebAssembly/wabt/releases/download/${wabt_version}/wabt-${wabt_version}-ubuntu.tar.gz
          curl -sSL ${wabt_url} | tar --strip-components 2 -C /usr/local/bin -xzf - wabt-${wabt_version}/bin/wast2json

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}

      - run: make lint

      - run: make build.lib

      - run: make build.spectest

      - run: make check

  test:
    name: Test (${{ matrix.os }}, go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          "ubuntu-latest",
          "macos-latest",
        ]
        go-version: [
          "1.17",  # == ${{ env.GO_VERSION }} because matrix cannot expand env variables
          "1.16",  # temporarily support go 1.16 per #37
        ]

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ matrix.os }}-${{ hashFiles('**/go.sum') }}

      - run: make test

  bench:
    name: Benchmark
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}

      - run: make bench
