name: Test
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:  # Update this prior to requiring a higher minor version in go.mod
  GO_VERSION: "1.17"  # Latest patch

jobs:
  check:
    name: Pre-commit check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install wast2json
        run: |  # Needed for build.spectest. wabt includes wast2json
          wabt_version=1.0.24
          wabt_url=https://github.com/WebAssembly/wabt/releases/download/${wabt_version}/wabt-${wabt_version}-ubuntu.tar.gz
          curl -sSL ${wabt_url} | tar --strip-components 2 -C /usr/local/bin -xzf - wabt-${wabt_version}/bin/wast2json

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: check-${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum', 'Makefile') }}

      - name: Lint (arm64)
        run: make lint golangci_lint_goarch=arm64

      - name: Lint (amd64)
        run: make lint golangci_lint_goarch=amd64

      - run: make build.spectest

      - run: make check

  test_amd64:
    name: amd64, ${{ matrix.os }}, Go-${{ matrix.go-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false  # don't fail fast as sometimes failures are arch/OS specific
      matrix:
        os: 
        - "ubuntu-latest"
        - "macos-latest"
        go-version:
        - "1.17" # == ${{ env.GO_VERSION }} because matrix cannot expand env variables
        - "1.16" # temporarily support go 1.16 per #37

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: test-${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}

      - run: make test

  test_non_amd64:
    # Only amd64 is viable with "make test" because other architectures require emulation: 
    # the process of installing depedencies and building the project through an emulator is unacceptably slow.
    # Instead, we build cross-platform test binaries on our amd64 runner, which limits what is emulated to 
    # only executing the tests. This is why below uses "bash -c 'testbin test.v'" (running test binary) instead of make.
    name: ${{ matrix.target.arch }}, ubuntu, Go-${{ matrix.go-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false  # don't fail fast as sometimes failures are arch/OS specific
      matrix:
        go-version:
        - "1.17"  # == ${{ env.GO_VERSION }} because matrix cannot expand env variables
        - "1.16"  # temporarily support go 1.16 per #37
        target:
        - arch: arm64
          image: arm64v8/ubuntu
        - arch: riscv64
          image: riscv64/ubuntu

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: test-${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}-${{ matrix.target.arch }}

      - name: Build test binaries
        run: go list ./... | xargs -Ipkg go test pkg -c
        env:
          GOARCH: ${{ matrix.target.arch }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: ${{ matrix.target.arch }}

      - name: Run built test binaries
        run: docker run -w /tmp/wazero -v $(pwd):/tmp/wazero --rm -t ${{ matrix.target.image }} /bin/bash -c 'find . -name "*.test" | xargs -Itestbin bash -c "testbin test.v"'

  bench:
    name: Benchmark
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: bench-${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}

      - run: make bench
