name: Test
on:
  pull_request:
    branches: [main]
  push:
    branches: [scratch]

env:  # Update this prior to requiring a higher minor version in go.mod
  GO_VERSION: "1.17"  # 1.xx == latest patch of 1.xx

defaults:
  run:  # use bash for all operating systems unless overridden
    shell: bash

jobs:
  check:
    name: Pre-commit check
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v2
        with:
          # TODO: Change to a matrix to ensure developers can use the latest version, noting often there is a lag of
          # weeks before the latest version is usable. Ex. golangci/golangci-lint#2649
          go-version: ${{ env.GO_VERSION }}

      - name: Install latest wast2json
        run: |  # Needed for build.spectest. wabt includes wast2json
          wabt_version=1.0.27
          wabt_url=https://github.com/WebAssembly/wabt/releases/download/${wabt_version}/wabt-${wabt_version}-ubuntu.tar.gz
          curl -sSL ${wabt_url} | tar --strip-components 2 -C /usr/local/bin -xzf - wabt-${wabt_version}/bin/wast2json

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/go/bin
          key: check-${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum', 'Makefile') }}

      - run: make check

      - run: make build.spectest

  test_amd64:
    name: amd64, ${{ matrix.os }}, Go-${{ matrix.go-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false  # don't fail fast as sometimes failures are arch/OS specific
      matrix:  # use latest available versions and be consistent on all workflows!
        os: [ubuntu-20.04, macos-11, windows-2022]
        go-version:
        - "1.17" # == ${{ env.GO_VERSION }} because matrix cannot expand env variables
        - "1.18"

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: test-${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}

      - run: make test

  test_scratch:
    # Only amd64 is viable with "make test" because other architectures require emulation:
    # the process of installing depedencies and building the project through an emulator is unacceptably slow.
    # Instead, we build cross-platform test binaries on our amd64 runner, which limits what is emulated to
    # only executing the tests. This is why below uses "bash -c 'testbin test.v'" (running test binary) instead of make.
    name: ${{ matrix.arch }}, linux, Go-${{ matrix.go-version }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false  # don't fail fast as sometimes failures are arch/OS specific
      matrix:
        go-version:
        - "1.17"  # == ${{ env.GO_VERSION }} because matrix cannot expand env variables
        - "1.18"
        arch:
        - "amd64"
        - "arm64"
        - "riscv64"

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: test-${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}-${{ matrix.arch }}

      - name: Build test binaries
        run: go list ./... | xargs -Ipkg go test pkg -c
        env:
          GOARCH: ${{ matrix.arch }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: ${{ matrix.arch }}

      - name: Build scratch container
        run: |
          echo 'FROM scratch' >> Dockerfile
          echo 'CMD ["/test"]' >> Dockerfile
          docker buildx build -t wazero:test --platform linux/${{ matrix.arch }} .

      - name: Run built test binaries
        run: find . -name "*.test" | xargs -Itestbin docker run -v $(pwd)/testbin:/test --rm -t wazero:test

  bench:
    name: Benchmark
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: bench-${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}

      - run: make bench.check
