name: Examples
on:
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/examples.yaml'
      - 'examples/wasm/*.go'
      - 'Makefile'
  push:
    branches: [main]
    paths:
      - '.github/workflows/examples.yaml'
      - 'examples/wasm/*.go'
      - 'Makefile'

jobs:
  examples:
    name: Build examples
    runs-on: ubuntu-latest
    steps:
      - name: Install TinyGo
        run: |  # installing via curl so commands are similar on OS/x
          tinygo_version=0.20.0
          curl -sSL https://github.com/tinygo-org/tinygo/releases/download/v${tinygo_version}/tinygo${tinygo_version}.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf -
          echo "TINYGOROOT=/usr/local/tinygo" >> $GITHUB_ENV
          echo "/usr/local/tinygo/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v2

      # TinyGo -> Wasm is not idempotent, so we only check things build.
      - name: Build examples
        run: make build.examples
