name: Examples
on:
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/examples.yaml'
      - 'examples/**'
      - 'imports/**/example/**'
      - 'Makefile'
  push:
    branches: [main]
    paths:
      - '.github/workflows/examples.yaml'
      - 'examples/**'
      - 'imports/**/example/**'
      - 'Makefile'

env:
  EMSDK_VERSION: "3.1.24"
  TINYGO_VERSION: "0.26.0"

jobs:
  # Not all toolchains are idempotent when generating wasm, so we don't check
  # in %.wasm as a part of this job.
  examples:
    name: Build examples
    runs-on: ubuntu-20.04
    strategy:
      matrix:  # Use versions consistent with wazero's Go support policy.
        go-version:
          - "1.19"  # Current Go version
          - "1.17"  # Floor Go version of wazero (current - 2)

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Install TinyGo
        run: |  # installing via curl so commands are similar on OS/x
          tinygo_version=${{ env.TINYGO_VERSION }}
          curl -sSL https://github.com/tinygo-org/tinygo/releases/download/v${tinygo_version}/tinygo${tinygo_version}.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf -
          echo "TINYGOROOT=/usr/local/tinygo" >> $GITHUB_ENV
          echo "/usr/local/tinygo/bin" >> $GITHUB_PATH

      - name: Install Zig
        run: |  # on laptop, use `brew install --build-from-source zig --HEAD`
          sudo apt install xz-utils
          sudo sh -c 'wget -c https://ziglang.org/builds/zig-linux-x86_64-0.10.0-dev.3880+e2bb92b2e.tar.xz -O - | tar -xJ --strip-components=1 -C /usr/local/bin'

      - name: Cache Emscripten
        id: cache-emsdk
        uses: actions/cache@v3
        with:
          path: emsdk
          key: ${{ runner.os }}-emcc-${{env.EMSDK_VERSION}}

      - name: Checkout Emscripten
        if: steps.cache-emsdk.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          repository: emscripten-core/emsdk
          path: emsdk

      - name: Install Emscripten
        if: steps.cache-emsdk.outputs.cache-hit != 'true'
        run: |
          ./emsdk/emsdk install ${{env.EMSDK_VERSION}}

      - name: Install wasm32-wasi target
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-wasi

      - name: Build TinyGO examples
        run: make build.examples.tinygo

      - name: Build AssemblyScript examples
        run: make build.examples.as

      - name: Build zig-cc examples
        run: make build.examples.zig-cc

      - name: Build Rust examples
        run: make build.examples.rust

      - name: Build Zig examples
        run: make build.examples.zig

      - name: Build Emscripten examples
        run: |
          ./emsdk/emsdk activate ${{env.EMSDK_VERSION}}
          source ./emsdk/emsdk_env.sh
          make build.examples.emscripten

      - name: Build bench cases
        run: make build.bench

      - name: Run example tests
        run: make test.examples
