name: Examples
on:
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/examples.yaml'
      - 'examples/*/testdata/*.go'
      - 'Makefile'
  push:
    branches: [main]
    paths:
      - '.github/workflows/examples.yaml'
      - 'examples/*/testdata/*.go'
      - 'Makefile'

jobs:
  examples:
    name: Build examples
    runs-on: ubuntu-20.04
    steps:
      - name: Install latest TinyGo
        run: |  # installing via curl so commands are similar on OS/x
          tinygo_version=0.22.0
          curl -sSL https://github.com/tinygo-org/tinygo/releases/download/v${tinygo_version}/tinygo${tinygo_version}.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf -
          echo "TINYGOROOT=/usr/local/tinygo" >> $GITHUB_ENV
          echo "/usr/local/tinygo/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v3

      # TinyGo -> Wasm is not idempotent, so we only check things build.
      - name: Build examples
        run: make build.examples

      # TinyGo -> Wasm is not idempotent, so we only check things build.
      - name: Build bench cases
        run: make build.bench
