name: WebAssembly Core Specification Test
on:
  pull_request:
    branches: [main]
    paths-ignore:  # ignore docs as they are built with Netlify.
      - '**/*.md'
      - 'site/**'
      - 'netlify.toml'
  push:
    branches: [main]
    paths-ignore:  # ignore docs as they are built with Netlify.
      - '**/*.md'
      - 'site/**'
      - 'netlify.toml'

defaults:
  run:  # use bash for all operating systems unless overridden
    shell: bash

jobs:
  test_amd64:
    name: ${{ matrix.spec-version }} - linux/amd64, Go-${{ matrix.go-version }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false  # don't fail fast as sometimes failures are arch/OS specific
      matrix:
        go-version:
        - "1.17"
        - "1.19.0-rc.2" # TODO: use 1.19.0 after the release.
        spec-version:
        - "v1"
        - "v2"

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: spectest-${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}-${{ matrix.spec-version }}

      - run: make spectest.${{ matrix.spec-version }}

  test_freebsd:  # See /Vagrantfile for notes
    name: ${{ matrix.spec-version }} - freebsd/amd64, Go-${{ matrix.go-version }}
    runs-on: macos-12
    strategy:
      fail-fast: false  # don't fail fast as sometimes failures are arch/OS specific
      matrix:
        go-version:
          - "1.17"
          - "1.19.0-rc.2" # TODO: use 1.19.0 after the release.
        spec-version:
          - "v1"
          - "v2"

    steps:
      - uses: actions/setup-go@v3
        with:  # Note: This isn't really used, it is just to match versions.
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ~/.vagrant.d/boxes
          key: spectest-${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum','Vagrantfile') }}-${{ matrix.spec-version }}

      - name: Install Vagrant
        run: brew install --cask vagrant

      - name: Configure Vagrant
        run: |  # This ensures the same version of Go is used inside Vagrant.
          GOVERSION=$(go env GOVERSION) GOARCH=$(go env GOARCH) vagrant up

      - name: make spectest.${{ matrix.spec-version }}
        run: vagrant ssh -c "cd wazero && make spectest.${{ matrix.spec-version }}"

  test_scratch:
    name: ${{ matrix.spec-version }} / ${{ matrix.arch }}, Go-${{ matrix.go-version }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false  # don't fail fast as sometimes failures are arch/OS specific
      matrix:
        go-version:
        - "1.17"
        - "1.19.0-rc.2" # TODO: use 1.19.0 after the release.
        arch:
        - "arm64"
        - "riscv64"
        spec-version:
        - "v1"
        - "v2"

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: spectest-${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}-${{ matrix.arch }}-${{ matrix.spec-version }}

      - name: Build test binaries
        run: go list -f '{{.Dir}}' ./... | grep 'spectest/${{ matrix.spec-version }}' | xargs -Ipkg go test pkg -c -o spectest.test
        env:
          GOARCH: ${{ matrix.arch }}
          CGO_ENABLED: 0

      - name: Set up QEMU
        if: ${{ matrix.arch != 'amd64' }}
        uses: docker/setup-qemu-action@v2
        with:  # Avoid docker.io rate-limits; built with internal-images.yml
          image: ghcr.io/tetratelabs/wazero-internal:binfmt
          platforms: ${{ matrix.arch }}

      - name: Build scratch container
        run: |
          echo 'FROM scratch' >> Dockerfile
          echo 'CMD ["/test"]' >> Dockerfile
          docker buildx build -t wazero:test --platform linux/${{ matrix.arch }} .

      - name: Run built test binaries
        # Note: This mounts /tmp to allow t.TempDir() in tests.
        run: docker run --platform linux/${{ matrix.arch }} -v $(pwd)/spectest.test:/test --tmpfs /tmp --rm -t wazero:test
